option_settings:
  aws:elasticbeanstalk:application:environmentsecrets:
    PARTICIPANT_ACCESS_TOKEN_SECRET: arn:aws:ssm:us-east-1:077317248751:parameter/education-researcher/prod/participant-access-token-secret
    AUDIO_LINK_SIGNING_SECRET: arn:aws:ssm:us-east-1:077317248751:parameter/education-researcher/prod/audio-link-signing-secret
